* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-object {
  color: #FFF;
  background-color: red;
  padding: 20px 10px;
  /* display: flex;
  justify-content: center; */
}
.menu {

  display: flex;
 justify-content: space-between;
}
.menu a {
  background-color: red;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
.title {
  /* justify-content: center; */
  text-align: center;
}
h2 {
  text-align: center;
}
.about-me {
  float: left;
margin-left: 15%;
  width: 65%;
  height: 40%;

}
.image{
  margin-left: 8%;
  margin-right: 7.5%;
  width: 45%;
  height: 30%;
  float: left;
}
.left-align{
  clear: both;
}
.flex-left h2 {
  flex: left;
}
.flex-left li{
  flex: left;
}
p{
  text-align: center;
}
ul{
  text-align: center;
}
ol{
  text-align: center;
}
.not-about-me{
  clear: both;
}
h4{
  text-align: center;
}
.links {
  clear:
  text-align: center;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
    width: 90%;

  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    width: 90%;
    background-color: #F5CF8E; /* Yellow */
  }
  .image{
    width: 33%;
    height:25%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: grey; /* Blue */
  }

  .image{
    width: 25%;
    height: 15%;
    margin-right: 3%;
  }
}
